@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&family=Frank+Ruhl+Libre:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* FIX: 100vh Bug in Instagram/TikTok */
  html, body {
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll glitches */
    background-color: #FDFBFE; /* Match main bg color to mask overscroll gaps */
    @apply bg-light text-dark font-sans;
    direction: rtl; 
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-medium;
  }
}